.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: water-drop-font;
  ;
}

.buttonHolder {
  display: flex;
}

.title {
  font-size: 80px;
  color: #00FFDE;
}

.popupbutton {
  background-color: #f2f2f2;
  font-size: 30px;
  margin: 0 20px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.popupbutton:hover {
  background-color: #00CAFF;
  transition: 1s;
  scale: 1.2;
  color: #4300FF;

}